@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  display: flex;
}

body {
  margin: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  flex: 1;
  justify-content: center;
}
